.adventages-service {
    font-size: 24px;
    line-height: 120%;
    font-weight: 300;
    text-align: center;
    margin: 0px 0px 35px 0px;

    @media (min-width:@tablet-width){
       font-size: 40px;
       line-height: 54px;
       margin-bottom: 30px;
    }
    @media (min-width:@desktop-width){
        font-size: 50px;
        line-height: 68px;
        margin-bottom: 22px;
     }
    }
.adventages__title {
    margin: 0px 0px 30px 0px;
    @media (min-width:@tablet-width){
        margin: 0px 0px 0px 0px;
     }

}
.adventages__subtitle{
    margin: 0px 0px 0px 0px;
    @media (min-width:@tablet-width){
        margin: 0px 0px 0px 0px;
     }
     
}
.adventages__wrapper{
    position: relative;
    background-color: #F2F2F2;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        
        background-image:url(../img/bg-triangle-white.svg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 0; 
    }
}
.adventages__list{
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 80px 0px 0px 0px;
    
    @media (min-width:@tablet-width){
      width: 278px;
      padding: 75px 0px 9px 330px;
    }
    @media (min-width:@desktop-width){
        width: 960px;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
      }
}
.adventages__item{
    width: 280px;
    @media (min-width:@tablet-width){
        width: 317px;
    }
    @media (min-width:@desktop-width){
        width: 240px;
        padding: 391px 0px 0px 0px;
    }
}

.item__tittle{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 12px 0px;
  
    @media (min-width:@tablet-width){
        text-align: left;
        margin: 0px 0px 12px 0px;
       
    }
    @media (min-width:@desktop-width){
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0px 0px 23px 0px;
       }
    }
.item__description{
    text-align: center;
    margin: 0px 0px 31px 0px;
    @media (min-width:@tablet-width){
        text-align: left;
        margin: 0px 0px 35px 0px;
    }
    @media (min-width:@desktop-width){
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin: 0px 0px 34px 0px;
    }
}
