.adventages-service {
    font-size: 24px;
    line-height: 120%;
    font-weight: 300;
    text-align: center;
    margin: 0px 0px 32px 0px;

    @media (min-width:@tablet-width){
       font-size: 40px;
       line-height: 54px;
    }
    @media (min-width:@desktop-width){
        font-size: 50px;
        line-height: 68px;
     }
    }
.adventages__title {
    margin: 0px 0px 30px 0px;
    @media (min-width:@tablet-width){
        margin: 0px 0px 0px 0px;
     }

}
.adventages__subtitle{
    margin: 0px 0px 0px 0px;
    @media (min-width:@tablet-width){
        margin: 0px 0px 0px 0px;
     }

}
.adventages__list{
    position: relative;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 374px;
    list-style: none;
    background-color: #F2F2F2;
    margin: 0;
    padding: 87px 0px 0px 0px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        
        background-image:url(../img/bg-triangle-white.svg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 0; 
    }
}

.adventages__tittle{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 24px 0px;
    }
.adventages__description{
    text-align: center;
    margin-bottom: 43px;
    
}
