.download {
    padding-top: 128px;
    margin-bottom: 42px;
    color: #ffffff;
    background-color:#485461;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    @media (min-resolution: 2dppx){
        background-image: url("../img/bg-back-mobile@2x.jpg");
        background-size: 740px auto;
        }
    @media (min-width:@tablet-width){
        padding-top: 203px;
        background-image: url("../img/bg-back-tablet@1x.jpg");
         @media (min-resolution:2dppx){
            background-image: url("../img/bg-back-tablet@2x.jpg");
            background-size: 1200px auto;
            }
    }
    @media (min-width:@desktop-width){
        background-image: url("../img/bg-back-desktop@1x.jpg");
        @media (min-resolution:2dppx){
            background-image: url("../img/bg-back-desktop@2x.jpg");
            background-size: 2560px auto;
            }
    }

}
.download__wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    z-index: 3;
    @media (min-width:@tablet-width){
        width: 300px;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 320px;
        height: 275px;
        top: 97px;
        left: -3px;
        background-image: url("../img/iphone-hand-mobile@1x.png");
        background-size: 261px 263px;
        background-repeat: no-repeat;
    
    @media (min-resolution: 2dppx){
        background-image: url("../img/iphone-hand-mobile@2x.png");
        background-size: 261px 263px;
    }
    @media (min-width:@tablet-width){
        width: 660px;
        height: 545px;
        top: -20px;
        left: -25px;
        background-image: url("../img/iphone-hand-tablet@1x.png");
        background-size: 703px 548px;
        background-repeat: no-repeat;
        @media (min-resolution: 2dppx){
            background-image: url("../img/iphone-hand-tablet@2x.png");
            background-size: 703px 548px;
        }
    }
   
    }
    
}
.download__title {
    position: relative;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 280px;
    padding: 0px 13px 0px 0px;
    & br:first-child {
        display:none;
        @media (min-width:@tablet-width){
            display:inline;
        }
    }
    @media (min-width:@tablet-width) {
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 36px;
    }
   
 
}
.download-popup{
    background-color: #1D2631;
    @media (min-width:@tablet-width){
        background-color:fade( #1D2631 ,0%) ;
        z-index: 1;
    }
}
.download__link{
    display:inline-block;    
    font-size: 18px;
    line-height: 18px; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 29px;
    padding: 14px 35px;
    margin: 25px 20px 29px 20px;
     &:hover,
     &:focus{
         color: #D22856;
         background-color: #FFFFFF;
      }
      &:active {
          color: fade(#D22856,30%);
          background-color: #FFFFFF;
      }
}

.download-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 204px;
    flex-wrap: wrap;
    margin: 0px 0px 5px 59px;
    padding: 0px;
}

.download__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    padding: 0px 0px 26px 0px;
    margin: 0px 0px 0px 0px;
}