.price__table {
  border-collapse: collapse;
}
.table__tittle {
  color: #ffffff;
}
.tittle__list {
  background: #283645;
  border: 2px solid #283645;
  padding: 17px 65px 17px 65px;
  border-right: 2px solid #f2f2f2;
  &:last-child {
    border-right: 2px solid #283645;
  }
}

.price__tittle {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.price__tittle--hit {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 74px;
    height: 73px;
    left: -65px;
    top: -19px;
    background-image: url("../img/bg-hit.svg");
  }
}
.price__item {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.table__list {
  border-collapse: collapse;
}
.table__item {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding: 14px 64px 13px 21px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
}
.item__status {
}
.item_status--on {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px 21px;
}
.item_status--off {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 27px;
}
