.swiper-reviews {
  &.swiper-container {
    padding: 0px 0px 86px 0px;
    @media (min-width: @tablet-width) {
      padding: 0px 0px 64px 0px;
    }
    @media (min-width: @desktop-width) {
      width: 960px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    @media (min-width: @desktop-width) {
      display: flex;
      color: #283645;
      opacity: 0.3;
      position: absolute;
      top: 47%;
    }
  }

  .swiper-button-prev:hover {
    opacity: 0.6;
  }
  .swiper-button-next:hover {
    opacity: 0.6;
  }
  .swiper-pagination {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.3;
  }
  .swiper-pagination-bullet:hover {
    opacity: 0.6;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    box-shadow: 0 0 0 3px #283645;
    background: transparent;
  }
  .swiper-pagination-bullets,
  .swiper-pagination-bullet {
    margin: 0 8px;
  }
}
