@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap ;
  src: url("../../fonts/opensans.woff2") format("woff2"), url("../../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/opensanslight.woff2") format("woff2"), url("../../fonts/opensanslight.woff") format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/opensansbold.woff2") format("woff2"), url("../../fonts/opensansbold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  white-space: nowrap;
}
@media (min-width: 660px) {
  .container {
    width: 660px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 960px;
    margin: 0px auto;
    padding: 0 10px;
  }
}
.page__body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
  color: #000000;
  min-height: 100%;
  min-width: 320px;
}
.page-header {
  position: absolute;
  min-width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 69px;
}
@media (min-width: 660px) {
  .page-header {
    min-height: 109px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    min-height: 110px;
  }
}
.page-header__logo {
  display: inline-block;
  margin: 23px 20px;
  width: 74px;
  height: 23px;
}
@media (min-width: 660px) {
  .page-header__logo {
    width: 145px;
    height: 40px;
    margin: 27px 0px 0px 18px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    margin: 26px 0px 0px 11px;
  }
}
@media (min-width: 1200px) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0px auto;
    padding: 0 10px;
  }
}
.main-nav {
  position: relative;
  min-width: 320px;
}
.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 20px;
  display: block;
  width: 50px;
  height: 24px;
  background-color: #283645;
  cursor: pointer;
  border: none;
  outline: none;
}
@media (min-width: 660px) {
  .main-nav__toggle {
    top: -31px;
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
  border-radius: 10px;
}
.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  background-color: #D22856;
  box-shadow: 0 9px 0 0 #D22856, 0 18px 0 0 #D22856;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 9px 0 0 rgba(210, 40, 86, 0.3), 0 18px 0 0 rgba(210, 40, 86, 0.3);
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 24px;
  width: 29px;
  height: 3px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: #D22856;
}
.main-nav--opened .main-nav__toggle:focus::before,
.main-nav--opened .main-nav__toggle:focus::after {
  background-color: #D22856;
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(210, 40, 86, 0.3);
}
.main-nav__list {
  display: none;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    padding: 9px 11px 0px 0px;
  }
}
.main-nav__list a {
  display: block;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #283645;
  border-top: 1px solid #485461;
  box-shadow: 0px -1px 0px #000000;
  cursor: pointer;
}
.main-nav__list a:hover,
.main-nav__list a:focus {
  color: #D22856;
}
.main-nav__list a:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 1200px) {
  .main-nav__list a {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    border: none;
    box-shadow: none;
    padding: 11px 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (min-width: 1200px) {
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    position: absolute;
    content: "";
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
  }
}
.download {
  padding-top: 60px;
  margin-bottom: 42px;
  color: #ffffff;
  background-color: #1D2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 640px auto;
  background-position: center top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .download {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
@media (min-width: 660px) {
  .download {
    padding-top: 203px;
    background-size: 1200px auto;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
  .download {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .download {
    background-size: 2560px auto;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .download {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
.download__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 3;
}
@media (min-width: 660px) {
  .download__wrapper {
    width: 340px;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .download__wrapper {
    width: 320px;
    align-items: center;
  }
}
.download__title {
  position: relative;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 9px;
  margin-top: 24px;
}
.download__title br:first-child {
  display: none;
}
@media (min-width: 660px) {
  .download__title br:first-child {
    display: inline;
  }
}
.download__title::after {
  content: "";
  display: block;
  position: relative;
  z-index: 0;
  width: 320px;
  height: 275px;
  top: 19px;
  left: -1px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 261px 263px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .download__title::after {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}
@media (min-width: 660px) {
  .download__title::after {
    position: absolute;
    width: 660px;
    height: 545px;
    top: -20px;
    left: -97px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 703px 548px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
  .download__title::after {
    background-image: url("../img/iphone-hand-tablet@2x.png");
  }
}
@media (min-width: 1200px) {
  .download__title::after {
    width: 881px;
    height: 644px;
    top: 4px;
    left: 30px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1043px 644px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .download__title::after {
    background-image: url("../img/iphone-hand-desktop@2x.png");
  }
}
@media (min-width: 660px) {
  .download__title {
    font-size: 40px;
    margin: 0px 0px 31px 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 1200px) {
  .download__title {
    font-size: 50px;
    line-height: 68px;
    padding: 4px 0px 0px 0px;
    margin: 0px 0px 37px 0px;
  }
}
.download-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D2631;
}
@media (min-width: 660px) {
  .download-popup {
    background-color: rgba(29, 38, 49, 0);
    z-index: 1;
  }
}
.download__link {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  padding: 14px 35px;
  margin: 25px 20px 29px 20px;
}
.download__link:hover,
.download__link:focus {
  color: #D22856;
  background-color: #FFFFFF;
}
.download__link:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: #FFFFFF;
}
@media (min-width: 660px) {
  .download__link {
    padding: 14px 48px 16px 43px;
    margin: 0px 0px 48px 0px;
  }
}
@media (min-width: 1200px) {
  .download__link {
    font-size: 21px;
    padding: 15px 31px 16px 29px;
    margin: 0px 0px 72px 0px;
  }
}
.download-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 204px;
  flex-wrap: wrap;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
@media (min-width: 660px) {
  .download-list {
    margin: 0px 0px 24px 0px;
    padding: 0px;
  }
}
@media (min-width: 660px) and (min-width: 1200px) {
  .download-list {
    margin: 0px 0px 41px 0px;
    padding: 0px;
  }
}
.download__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  padding: 0px;
  margin: 0px 0px 27px 0px;
}
@media (min-width: 660px) {
  .download__description {
    font-size: 18px;
    padding: 0px;
    margin: 0px 0px 114px 0px;
  }
}
@media (min-width: 660px) and (min-width: 1200px) {
  .download__description {
    margin: 0px 0px 125px 0px;
    padding: 0px;
  }
}
.adventages-service {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
}
.adventages__subtitle {
  margin-bottom: 31px;
}
.adventages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 374px;
  list-style: none;
  background-color: #FAFCFF;
  margin: 0;
  padding: 0;
}
.adventages__tittle {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0px 0px 24px 0px;
}
.adventages__description {
  text-align: center;
  margin-bottom: 43px;
}
.reviews__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 31px;
}
.reviews__description {
  line-height: 30px;
  text-align: center;
  margin: 0px 0px 44px 0px;
}
.contacts__tittle {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 45px;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 231px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts__item {
  text-align: center;
  margin-bottom: 35px ;
}
.contacts__item p {
  margin: 0;
  padding: 0;
}
.contacts__item a {
  text-decoration: none;
}
.contacts__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 13px;
}
.contacts__description {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: #D22856;
  text-decoration: none;
  cursor: pointer;
}
.contacts__description:focus,
.contacts__description:hover {
  color: #283645;
  text-decoration: underline;
}
.contacts__description:active {
  color: rgba(40, 54, 69, 0.3);
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 284px;
  align-items: center;
}
.page-footer__logo {
  margin: 40px 87px;
}
.page-footer__social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 158px;
  list-style: none;
  margin-bottom: 41px;
  padding: 0;
}
.page-footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.copyright__text {
  line-height: 18px;
}

/*# sourceMappingURL=style.css.map */
